<div class="container-main">
  <aside class="sidebar">
   <div class="logo">
    <div class="logo-title">
      <font style="vertical-align:inherit ;">
        AppsTergo
      </font>
    </div>
    <i id="btnMenu" class="icon-menu1"></i>
    
   </div>
   <ul class="menu">
      <li class="item-menu">
        <a href="#">
          <i class="icon-dashboard"></i>
          <span class="item-menu-title">Dashboard</span>          
        </a>
        <span class="tooltip">Pincipal</span>
      </li>
      <li class="item-menu">
        <a href="#">
          <i class="icon-calendario"></i>
          <span class="item-menu-title">Calendario</span>          
        </a>
        <span class="tooltip">Calendario</span>
      </li>
      <li class="item-menu container-submenu">
        <a href="#">
          <i class="icon-facturas"></i>
          <span class="item-menu-title">Facturas </span>
          <i class="icon-arrordown"></i>
        </a>
        <span class="tooltip">Facturas</span>
        <ul class="submenu">
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
        </ul>
      </li>
      <li class="item-menu container-submenu">
        <a href="#">
          <i class="icon-store"></i>
          <span class="item-menu-title">Tienda</span>
          <i class="icon-arrordown"></i>
        </a>
        <span class="tooltip">Tienda</span>
         <ul class="submenu">
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
        </ul>
      </li>
      <li class="item-menu">
        <a href="#">
          <i class="icon-chat"></i>
          <span class="item-menu-title">Chat</span>          
        </a>
        <span class="tooltip">ChaT</span>
      </li>
      <li class="item-menu container-submenu">
        <a href="#">
          <i class="icon-analytics"></i>
          <span class="item-menu-title">Analitycs</span>
          <i class="icon-arrordown"></i>
        </a>
        <span class="tooltip">Analitycs</span>
         <ul class="submenu">
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="#">
                <i class="icon-circulo"></i>
                <span class="item-menu-title">sub-tiem</span>
              </a>
          </li>
        </ul>
      </li>
   </ul>
   <!--<div class="profile-content">
      <div class="profile">
        <div class="profile-detail">
          <img src="../assets/image/descarga.jfif" alt="">
          <div class="detail-job">
             <div class="name">Rodrigo Soto</div>
             <div class="job">Developer full stack</div>
          </div>      
        </div>
        <i class="icon-logout"></i>
      </div>   
   </div>-->
   
  
  </aside>
  <section class="content-main">
    <div class="text">
       <h2>este es un texto de prueba para comprovar </h2>
       <router-outlet></router-outlet>
    </div>
  </section>
  <aside class="config-panel open">
    <div class="config-label">
      <a href="#">
        <i class="icon-engrane"></i>
      </a>
    </div>
    <div class="config-header">
      <div class="title">
        <h3>
          <font style="vertical-align: inherit;">
            Personaliar Apariencia
          </font>
        </h3>
      </div>
      <i class="icon-close"></i>
    </div>
    <hr class="divider">
    <div class="config-skin">
      <div class="config-title">
        <h3>
            <font style="vertical-align: inherit;">Skyn</font>
        </h3>
      </div>
      <div class="config-panel-skyn">
        <div class="dayNaight"></div>
        <label class="switch">
          <input type="checkbox" checked>
           <span class="slider  round "></span>
        </label>
        <label class="switch">
          <input type="checkbox" >
           <span class="slider  round "></span>
        </label>
      </div>
      <div class="config-panel-skyn2">
      <h1>Input type Radio</h1>
		<label class="content-input-radio">
			<input type="radio" name="Vehiculo" id="bici" value="Bici">Bici
			<i></i>
			</label>
		<label class="content-input-radio">
			<input type="radio" name="Vehiculo" id="coche" value="Coche">Coche
			<i></i>
		</label>
		<label class="content-input-radio">
			<input type="radio" name="Vehiculo" id="moto" value="Moto">Moto
			<i></i>
		</label>
      
      </div>
    </div>
    
   
    
  </aside>
</div>

