.icon-sun{
    color: #ffa500;
    text-shadow: 0px 0px 16px #ffa500;
}
.btn-color-mode-switch input[type=checkbox]:checked + label.btn-color-mode-switch-inner::before{
     content: attr(data-off);
     right: auto;
     left: 20px;
     
}
.btn-color-mode-switch input[type=checkbox]:checked + label.btn-color-mode-switch-inner::after{
     content: attr(data-on);
     left: 68px;
     background-color: #3c3c3c;
     
}
.btn-color-mode-switch input[type=checkbox]:checked + label.btn-color-mode-switch-inner{
     background-color: #151515;
     color: #ffffff;
}
.btn-color-mode-switch input[type=checkbox]{
     cursor: pointer;
     position: absolute;
     opacity: 0;
     width: 25px;
     height: 25px;
     top: 0;
     z-index: 1;
     margin: 0;
}
.btn-container .btn-color-mode-switch> label.btn-color-mode-switch-inner::after{
     content: attr(data-off);
     position: absolute;
     border-radius: 26px;
     background: #ffffff;
     width: 70px;
     height: 26px;
     left: 2px;
     top:2px;
     text-align: center;
     transition: all .3s ease;
     box-shadow: 0px 0px 6px -2px #111;
     padding: 5px 0;
     
}
.btn-container .btn-color-mode-switch> label.btn-color-mode-switch-inner::before{
     content: attr(data-on);
     position: absolute;
     font-size: 12px;
     font-weight: 500;
     top:7px;
     right: 20px;
}
.btn-container .btn-color-mode-switch> label.btn-color-mode-switch-inner{
     margin: 0;
     width: 140px;
     height: 30px;
     background: #E0E0E0;
     border-radius: 26px;
     overflow: hidden;
     position: relative;
     transition: all .3s ease;
     display: block;
}

.btn-container .btn-color-mode-switch{
     position: relative;
     margin: 0;
     display: inline-block;
     width: 140px;
     margin: 0 10px;
}
.btn-container label{
     font-size: 13px;
     color: #424242;
     font-weight: 500;
}
.btn-container i{
     display: inline-block;
     position: relative;
     font-size: 1.5rem;
     font-weight: 500;
}
.btn-container{
     display: table-cell;
     vertical-align: middle;
     text-align: center;
}
.input-radio input[type=radio]:not(:checked) + a>svg>#dot{
     visibility: hidden;
     
}
.input-radio input[type=radio]:checked + a>svg>#dot{
     visibility: visible;
     
}
.input-radio .dot svg{
     margin-right: 10px;
}
.input-radio .dot{
     height: 30px!important;
     line-height: 30px;
     margin-left: 10px;
     align-items: center;
     text-align: center;
     vertical-align: middle;
     display: flex;
}
.input-radio{
     position: relative;
     display: block;
     height: 30px;
     line-height: 30px;
     align-items: center;
    
}
.input-radio input{
     position: absolute;
     visibility: hidden;
     right: 0;
}
.config-panel-skyn3{
     display: flex;
     flex-direction: row;
     margin-bottom: 1rem;
}
.config-panel-skyn2{
     display: flex;
     flex-direction: row;
     margin-bottom: 1rem;
}
.config-panel-skyn{
     display: flex;
     flex-direction: row;
     margin-bottom: 1rem;
}
.content-input-radio input[type=radio]:not(:checked)+i{
     background: #f0f0f0;
}
.content-input-radio input[type=radio]:checked + i{
     border: 2px solid #2ac176;
}
.content-input-radio input[type=radio]:checked + i:before{
     transform: scale(1);
     opacity: 1;     
}
.content-input-radio input[type=radio] + i:before{
     content: '';
     display: block;
     height: 15px;
     width: 15px;
     background-color: red;
     border-radius: 100%;
     position: absolute;
     z-index: 1;
     top: 3px;
     left: 3px;
     background: #2ac176;
     align-items: center;
     transition: all .3s ease;
     transform: scale(0);
     opacity: 0;
}
.content-input-radio input[type=radio] + i{
     height: 25px;
     width: 25px;
     border-radius: 100%;
     left: 15px;
}
.content-input-radio input +i{
     background: #f0f0f0;
     border: 2px solid rgba(0, 0, 0, 0.02);
     position: absolute;
     left: 0;
     top: 0;
}
.content-input-radio{
     position: relative;
     margin-bottom: 30px;
     padding: 5px 0 5px 60px;
     display: block;
     align-items: center;
}
.content-input-radio input{     
     visibility: hidden;
     position: absolute;
     right: 0;
}
.config-panel-skyn2 .content-input-radio{
     margin: 5px 5px!important;
     
}

.slider.round:before{
     border-radius: 50%;
}
.slider.round{
     border-radius: 34px;
}
input:checked + .slider:before{
     transform: translateX(26px);
}
input:focus+.slider{
     box-shadow: 0 0 1px #2196Fe;
}
input:checked + .slider{
     background-color: #2196Fe;
}
.slider::before{
     content: '';
     position: absolute;
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: #fff;
     transition: all .3s ease;
}
.slider{
     position: absolute;
     cursor: pointer;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #ccc;
     transition: all .3s ease;
}
.switch input{
     display: none;
}
.switch{
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     top:6px;
}
.dayNaight::before{
     content: "";
     position: absolute;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background-color: #fff;
         
}
.dayNaight{
     margin-top: 1rem;
     width: 40px;
     height: 20px;
     padding: 0;
     border: 2px solid #bdbdbd;
     background-color: #42a5f5;
     position: absolute;
     border-radius: 30px;
     
}

.sidebar.expand .menu .item-menu .tooltip{
     display: none;
}
.selected{
     background-color:#fff;
     color: #555!important;
}
.sidebar.expand .menu .item-menu a .icon-arrordown{
     opacity: 1;
     transition: all .3s ease;
}
.sidebar.expand .menu .item-menu a .item-menu-title{
     opacity: 1;
     transition: all .3s ease;
}
.sidebar.expand .logo .logo-title{
     opacity: 1;
     transition: all 0.5s ease;
}
.sidebar.expand ~ .content-main{
     width: calc(100% - 260px);
     left: 260px;
     transition: all .5s ease;
}
.sidebar.expand{
     width: 260px;
     transition: all .5s ease;
}
.profile i{
     position: absolute;
     right: 0;
     top:1.5rem;
     transform: translate(-50%);
}
.detail-job .job{
     font-size: .8rem;
}
.detail-job .name{
     font-size: 1rem;
     font-weight: 500;
}
.profile-detail .detail-job {
     margin-left: 10px;
     text-align: center;
}
.profile  .profile-detail img{
     width: 45px;
     height: 45px;
     border-radius: 15px;
     object-fit: cover;
    
}
.profile .profile-detail{
     display: flex;
     white-space: nowrap;
     align-items: center;
     text-align: center;
          
}
.profile-content .profile{
     background-color: #1d1b31;
}
.sidebar .profile-content .profile{
     position: relative;
     padding: 10px 6px;
     height: 60px;
     width: 100%;

}
.sidebar .profile-content{
     position: absolute;
     bottom: 0;
     left: 0;     
     width: 100%;
     color: #fff;
     
}
.submenu .item-menu a:hover{
     background-color: #1d1b31;

} 
.submenu .item-menu a{
     padding-left: 30px;
}
.submenu.collapse{
     display: block;
     visibility: visible;
     margin-top: 1rem;
     margin-bottom: 0.5rem;
     transform: scaleY(1);
     transition:linear  0.5s ease-in;
     transition-delay: 0.1s;    
}
.submenu{
     margin-top: 0rem;
     display: none;
     visibility: hidden;   
     overflow: hidden;
     transform: scaleY(0);    
     transition:linear .5s ease-out;
     transition-delay: 0.1s;         
}
.item-menu:hover .tooltip{
   opacity: 0;
   transition: all 0.3s ease;   
}
.item-menu .tooltip{
     position: absolute;
     line-height: 35px;
     top: 0;
     background-color: #fff;
     width: 150px;
     height: 40px;
     z-index: 1000;
     transform: translateY(50%,50%);
     border-radius: 12px;
     left: 100px;
     transition: all .3s ease;
     padding: 5px 10px;
     color: #555;
     font-size: 1.1rem;
     text-align: center;
     align-items: center;
     font-weight: 600;
      box-shadow: 0 5px 10px  rgba(0,0,0,.2);
      pointer-events: none;
      opacity: 0;
    
}
.item-menu a .icon-arrordown{
     position: absolute;
     right: 0;
     transform: rotateZ(-90deg);
     line-height: 40px;
     font-size: .8rem;
     opacity: 0;
     transition: all .3s ease;
}
.item-menu a .item-menu-title{
     opacity: 0;
     text-transform: uppercase;
     font-size: 0.8rem;
     transition: all .3s ease;
}
.item-menu a i{
     line-height: 40px;
     margin-right: 10px;
}
.item-menu a{
     line-height: 40px;
     display: flex;
     text-decoration: none;
     align-items: center;
     width: 100%;
     color: #fff;
     font-size: 1.3rem;
     padding: 5px 16px;
     border-radius: 12px;
}
.menu .item-menu a:hover{
     background-color: #fff;  
     color: #555;
}
.menu .item-menu{
     list-style: none;     
     white-space: nowrap;
     position: relative;
     line-height: 40px;
     margin: 5px 0;
     width: 100%;
     border-radius: 12px;
}
.menu::-webkit-scrollbar-thumb:hover{
     background-color: #333;  
}
.menu::-webkit-scrollbar-thumb{
     border-radius: 30px;
     background-color: #444;     
}
.menu::-webkit-scrollbar-track{
     background-color: #666;
     
}
.menu::-webkit-scrollbar{
     width: 7px;
     background-color: #666;
     
}
.menu {
     margin-top: 1rem;
    
     height: 100%;
     padding: 5px 10px;
}

.logo i{
     position: absolute;
     color: #fff;
     font-size: 1.5rem;
     line-height: 50px;
     right: 20px;
     top: 0.6rem;
     text-align: center;
     transform: translate(-50%);
     
}
.sidebar .logo .logo-title{
     line-height: 50px;
     text-align: left;
     color: #fff;
     font-size: 1.5rem;
     padding-left: 1rem;
     width: 100%;
     opacity: 0;
     transition: all 0.3s ease;     
}
.sidebar .logo{
     padding: 10px 10px;
}
.sidebar{
     position: fixed;
     top: 0;
     bottom: 0;     
     left: 0;
     z-index: 1000;
     width: 80px;
     background-color: #555;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.content-main .text{
     box-shadow:rgba(0, 0, 0, 0.07) 0px 1px 2px 0px, rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.07) 0px 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.content-main{
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;     
     width: calc(100%-80px);
     left: 80px;
     background-color: #EEE;
     padding: 1.5rem;
     
}
.config-panel{
     position: fixed;
     top: 0;
     bottom: 0;     
     right: 0;
     z-index: 1000;
     width: 400px;
     background-color:#fff ;
}
.config-panel .config-label{
     position: absolute;
     left:-50px;
     top:90px;
     height: 40px;
     line-height: 40px;
     width: 50px;
     background-color: rgba(0, 0, 0, 0.3);
     border-radius: 10px 0 0 10px;
     text-align: center;
     align-items: center;
     
}
.config-panel .config-label a{
     color: #fff;
     text-decoration: none;
     margin: 0;
     padding: 0;
     height: 100%;     
     position: absolute;
     transform: translate(-40%) rotateZ(0deg);
     transition: all 0.9s ease;
}
.config-panel .config-label a:hover{
     transform: translate(-40%) rotateZ(-80deg);
     transition: all 0.9s ease;
}
.config-panel .config-label a i{
     line-height: 40px;
     font-size: 1.5rem;
     text-align: center;
}
.config-panel.open{
     padding: 1rem;
}
.config-panel .divider{
     text-align: center;
     width: calc(100%-30px);
     background-color: rgba(0, 0, 0, 0.3);
     height: 3px;
     border-radius: 3px;
     margin: 0.5rem 0;
}
.config-panel .config-header .title{
     font-size: 1.1rem;
     font-weight: 100;
}
.config-panel .config-header{
     line-height: 60px;
     align-items: center;
}
.config-panel .config-header i{
     line-height: 60px;
     transform: translate(-150%);
     font-size: 0.8rem;
     top:1.2rem;
     right: 0;
     position: absolute;     
}