/* You can add global styles to this file, and also import other style files */
@import url("./assets/css/style.css");
*{
     margin: 0;
     padding: 0;
}

body{
     height: 100vh;
     margin: 0;
     padding: 0;
     direction: ltr;
     box-sizing: border-box;
     position: relative;
     overflow: hidden;
}
*,::after,::before{
     box-sizing: border-box;
}